/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Layout for Desktop */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 140px); /* Subtract header and footer heights */
  }

  nav {
    background-color: #f1f1f1;
    padding: 20px;
    width: 25%;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  main {
    padding: 20px;
    width: 75%;
  }
}

/* Layout for Mobile */
@media (max-width: 767px) {
  nav {
    background-color: #f1f1f1;
    padding: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  main {
    padding: 20px;
  }
}
